.input-container {
    display: flex;
    align-items: center; 
    width: 58%;
}

input {
    color: white;
    width: 100%;
    background-color: #262626;
    padding: 14px 15px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    margin-bottom: 20px;
}

.create-task {
    padding: 15px 20px;
    background-color: #1E6F9F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;      
    justify-content: center;  
    gap: 6px;
    font-weight: bold;   
}

button{
    cursor: pointer;
    margin-left: 10px;
    text-align: center;
    margin-bottom: 20px;
}


